
<ng-container>

    <app-header></app-header>

    <div class="container">

        <div class="row">
            
            <div class="col-lg-2 mt-5 mr-4">
                <!-- holds an image -->
                <img src="../assets/kidWithPencil.png" class="img-fluid" alt="description of a picture">
            </div>
            
            <div class="col-lg-8 mt-5">
                <!-- holds the todo functionality -->
                <app-todo-form></app-todo-form>
                <app-todos></app-todos>
            </div>
        </div>

        <div class="row mt-5 text-white">
            <app-new-features></app-new-features>
        </div>



        
    </div>

</ng-container>



